<!DOCTYPE html>
<html>
<head>
	<title>61070156 - Multimedia Programming 2563 ITKMITL</title>
	<link rel=stylesheet href="../src/reset.css">
	<link rel=stylesheet href="lab.css">
	<link rel=stylesheet href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.min.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body class="paper">
	<div id="app">
		<input type="number"v-model="numberI">
		<input type="number"v-model="row">
		<div class="space"></div>
		<div class="notification is-info"><h6 class="title is-6"> แม่สูตรคูณก่อนหน้า คือ {{bf_num}}</h6></div>
		<div class="message-header"><h2 class="title is-2"> สูตรคูณแม่ {{numberI}}</h2></div>
		<h4 v-for="i in r"><div class="notification">{{numberI}} x {{i}} = {{x(i)}}</div></h4>
	</div>
	
	<script>
		let Val1 = new Vue({
			el:'#app',
			data:{numberI:2,
			bf_num:1,
			row:12},
			methods:{
				x: function(row){
					return this.numberI*row
				}
			},
			watch:{
				numberI:function(a,b){
					this.bf_num = b
				}
			},
			computed:{
				r: function(){
					return parseInt(this.row)
				}
			}
		}); 
	</script>
</body>
</html>